#jinja2: trim_blocks:False
[DEFAULT]

[placement_database]
connection = "mysql+pymysql://{{ database_credentials.placement.username }}:{{ database_credentials.placement.password }}@localhost:6033/{{ database_credentials.placement.dbname }}"

[api]
auth_strategy = keystone

[keystone_authtoken]
auth_url = {{ openstack_endpoints.keystone.internal }}
memcache_servers = {% for host in groups['controller'] %}{{ host }}:11211{{ "," if not loop.last else "" }}{% endfor %}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ openstack_credentials.placement.username }}
password = {{ openstack_credentials.placement.password }}
