# This is a POSIX shell fragment                -*- sh -*-

# OVN_CTL_OPTS: Extra options to pass to ovs-ctl.  This is, for example,
# a suitable place to specify --ovn-northd-wrapper=valgrind.

OVN_CTL_OPTS=" \
  --db-nb-addr=0.0.0.0 --db-nb-create-insecure-remote=yes \
  --db-sb-addr=0.0.0.0 --db-sb-create-insecure-remote=yes \
  --db-nb-cluster-local-addr={{ ansible_default_ipv4.address }} \
  --db-sb-cluster-local-addr={{ ansible_default_ipv4.address }} \
{% if inventory_hostname != groups['controller'][0] %}
  --db-nb-cluster-remote-addr={{ hostvars[groups['controller'][0]].ansible_default_ipv4.address }} \
  --db-sb-cluster-remote-addr={{ hostvars[groups['controller'][0]].ansible_default_ipv4.address }} \
{% endif %}
  --ovn-northd-nb-db={% for host in groups['controller'] %}tcp:{{ hostvars[host].ansible_default_ipv4.address }}:6641{% if not loop.last %},{% endif %}{% endfor %} \
  --ovn-northd-sb-db={% for host in groups['controller'] %}tcp:{{ hostvars[host].ansible_default_ipv4.address }}:6642{% if not loop.last %},{% endif %}{% endfor %} \
"
